body,
#root {
    height: 100vh;
    width: 100vw;
    font-family: 'Inter', sans-serif;
}

.text-color {
    color: #9042c7;
}

.about-line {
    width: 80px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: none;
    border-top: 2px solid white;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

p {
    line-height: 1.8 !important;
}

.skill-img {
    height: 40px;
    width: 40px;
}

.skill-container {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
}

.project-img {
    width: 350px;
    height: auto;
    margin-top: 16px;
    border-radius: 8px;
}